*{
    padding:0;
    margin:0;

}
.navbar{
    height:100px;
    background-color: aqua;
    display:flex;

}
ul{
    list-style-type:none;

   
}
.nav-element a {
    text-decoration: none;
    
}
.logo img{
    height:80%;
    
