*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.navbar{
    height: 12vh;
    background-color: rgb(181, 0, 0);
}

.nav-menu{
    padding: 20px;
    width: 100px;
    display: inline;

}

.logo{
    display: inline;
    justify-content: center;
    background-size: cover;
}

.logo img{
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.logo a{
    display: inline;
    justify-items: center;
}

.v-logo img{
    height: 100px;
    
}

/* .border{
    border: 2px solid transparent;
    
} */

/* .border:hover{
    border: 2px solid black;
} */